$font-main: #373841;
$font-secondary: #5f6069;


$box-shadow: 0px 12px 22px -15px rgba(0,0,0,0.75);
$box-shadow2: 2px 2px 15px -7px rgba(0,0,0,0.75);
$box-shadow-upper: 0px -16px 24px -17px rgba(0,0,0,0.4);